base_dir: logs
data:
  batch_size: 32
  data_name: selfcorrection
  data_filename: data/data_selfcorrection/{}.pkl
  process_dim: 1
  use_cache: False
  cache_dir: cache
  # list of the names of the metrics.
  metrics: [type_acc, time_rmse]

model:
  name: AEHN
  # the number of events
  process_dim: 1
  hidden_dim: 16
  # hybrid or loglikelihood
  pred_method: loglikelihood

  # following three setting are activated when using loglikelihood
  n_loss_integral_sample: 10
  n_pred_integral_sample: 100
  max_time_pred: 3.0


train:
  dropout_rate: 0.0
  lr: 0.001
  epoch: 0
  max_epoch: 500
  lr_scheduler: PlateauLRScheduler
  patience: 15